<ng2-slim-loading-bar [color]="'#00d1b2'" ></ng2-slim-loading-bar>
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img class="ui medium rounded image" [src]="feedback?.user.avatar" width="40px">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
        <strong>{{feedback?.user.name}}</strong> <small> · {{timeAgo(feedback?.date)}} </small> · <small>{{feedback?.comments?.length}} comments</small>
          <div class="rating"><sui-rating [ngModel]="feedback?feedback.rating:0" [maximum]="5" [isReadonly]="true"></sui-rating></div>
        {{feedback?.note}}
    </div>
  </div>
</article>
