<section class="hero is-fullheight is-primary is-danger is-centered">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="tiles ">
        <div class="tile is-vertical">
          <span class="title">404</span>
        </div>
        <div class="tile  subtitle is-vertical">
          Resource not found
        </div>
        <div class="tile  subtitle is-vertical">
          <a routerLink="/">Go to home</a>
        </div>
      </div>
    </div>
  </div>
</section>
