.nav { position: fixed !important; top: 0;
  left: 0; right: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.image {
  margin-right: 10px;
}
.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}
