.nav { position: fixed !important; top: 0; left: 0; right: 0; }
.image {
  margin-right: 10px;
}
.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
