<ng-template let-popup #popupTemplate>
  <div class="title">Rating</div>
  <div class="content" popupTrigger="outsideClick">
    <sui-rating  [(ngModel)]="rating" class="star massive"></sui-rating>
    <input [(ngModel)]="note"  (keyup.enter)="sendFeedback()" class="input"  placeholder="Your comment...">
    <a class="button is-primary is-small is-outlined" (click)="sendFeedback()"  [attr.disabled]="rating?null:true" >Send</a>
  </div>
</ng-template>

<span suiPopup #popup="suiPopup" [popupTemplate]="popupTemplate" popupTrigger="outsideClick"> <a class="button is-primary is-outlined" (click)="openPopup(popup)" >Add feedback</a></span>
