<ng-template let-popup #popupTemplate>
  <div class="header">Rating</div>
  <div class="content" popupTrigger="outsideClick">
    <sui-rating  [(ngModel)]="rating" class="star massive"></sui-rating>
    <input [ngModel]="note"  class="input" type="text" placeholder="You comment...">
    <a class="button is-primary is-outlined" (click)="sendFeedback()"  [attr.disabled]="rating?null:true" >Send</a>
  </div>
</ng-template>

<span suiPopup #popup="suiPopup" [popupTemplate]="popupTemplate" popupTrigger="manual"> <a class="button is-primary is-outlined" (click)="openPopup(popup)" >Make feedback</a></span>
