
  <div class=" minimal comment">
    <a class="avatar">
      <img [src]="feedback?.user?.avatar">
    </a>
    <div class="content">
      <span class="author">{{feedback.user?.name}}</span>
      <div class="metadata">
        <div class="date">{{timeAgo(feedback?.date)}}</div>
      </div>
      <div class="rating"><sui-rating   [ngModel]="feedback?feedback.rating:0" [maximum]="5" [isReadonly]="true"></sui-rating></div>
      <div class="text"> {{feedback.note}} </div>

      <div class="actions">
        <a class="reply" (click)="toggleInput()">Reply</a>
        <a class="reply" (click)="fetchComments(true)">{{feedback?.comments?.length}} comments</a>
      </div>
      <div *ngIf="state">
        <app-comment-list [comments]="comments"></app-comment-list>
      </div>

      <div class="actions" style="padding-top: 15px" *ngIf="showInput">
        <app-comment-input [feedbackId]="feedback._id"></app-comment-input>
      </div>

    </div>
  </div>
