<div class="tile is-ancestor">

  <div class="tile is-parent">
  </div>

  <div class="tile is-vertical is-7">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <figure class="image is-128x128">
            <img [src]="application.image">
          </figure>
          <p class="title">{{application.name}}</p>
          <p class="subtitle"> <sui-rating [maximum]="5" [isReadonly]="true"></sui-rating></p>
          <div class="content">
            {{application.description}}
          </div>
        </article>
      </div>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child notification">
        <p class="title">Feedbacks</p>

        <div class="content">
          <app-feedback-list></app-feedback-list>
        </div>
      </article>
    </div>
  </div>


  <div class="tile is-parent">
    <article class="tile is-child notification">
      <div class="content">
        <p class="title is-6">Other Applications</p>

        <div class="content">

        </div>
      </div>
    </article>
  </div>
</div>


